#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}
.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  
}
.container{
  
  input{
    width: 50%;
    height: 2.2rem;
   
  }
  button{
    width: 10%;
    height: 2.7rem;
    box-shadow: rgb(12, 116, 7) 0px -50px 36px -28px inset;
  }
}

@media only screen and (max-width: 750px) {
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.6rem;
    text-align: center;
   
  }
  .gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    
  }
  .container{
    
    input{
      width: 30%;
      height: 1.5rem;
     
    }
    button{
      width: 10%;
      height: 1.8rem;
      box-shadow: rgb(12, 116, 7) 0px -50px 36px -28px inset;
    }
  }
  
}